<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853374270179-lbv1nv07ek5aum3pm8j0cs5pgdv8rtmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853374270179-lbv1nv07ek5aum3pm8j0cs5pgdv8rtmn</string>
	<key>API_KEY</key>
	<string>AIzaSyA3WIOjbtwPRNL-JA9wSp51YnK8PUnqI0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>853374270179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbaramobile</string>
	<key>PROJECT_ID</key>
	<string>dbaramobile</string>
	<key>STORAGE_BUCKET</key>
	<string>dbaramobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853374270179:ios:954389999b8fd3f6c6e3d6</string>
</dict>
</plist>